.trains-tickets-container{
    width: 100%;
    /* background-color: #e5eef4; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trains-tickets-container h1{
    color: #393d3f;
    font-family: cursive;
}
.trains-tickets{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}